.about{
    @include font(36px,700, 0.03em)
    
    line-height: 1.16;
    padding-bottom: 50px;
    text-align: center;  
    }
    
   
      
    .about-list{
      display: flex;
      margin-left: -30px;
      margin-top: -30px;
      padding-bottom: 94px;
     }
    
  
     .about-list__photo{
      position: relative;
      display: block;
     
      width: 370px;
      max-height: 294px;
      flex-basis: ((100% - 3*30)/3);
      margin-left: 30px;
      margin-top: 30px;
    }
  
     .about-list__tittle{
    @include menu( );
      justify-content: center;
      
      position: absolute;
      bottom: 0;
      left: 0;
      
      
      width:370px;
      height:70px;
      
    @include font(14px,700, 0.03em)
      text-transform: uppercase; 
      line-height: 1.14;
     
     color: #FFFFFF;
     background-color: #2F303ACC; 
    
     } 
    