.social-item:not(:last-child){
    margin-right: 10px;
    &{
      display: flex;
      justify-content: center;
    }
  }



.social-item__link{
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #FFFFFF;
    color: #AFB1B8;
  
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) ;
  
    &:hover {
        color:  #FFFFFF;
          background: #2196F3;
        }}
  
  
  .social-item__icon{
  fill: currentColor;;
}