:root {
    --primary-text-color: #212121;
    --second-text-color: #2196F3;
    --white-color-text: #FFFFFF;
    --background-second-color: #2F303A;
    --background-first-color:  #E5E5E5;
    --background-therd-color: #F5F4FA;
    --card-set-gap: -30px;
   } 