:root {
  --primary-text-color: #212121;
  --hover-text-color: #2196f3;
  --white-color-text: #ffffff;
  --background-second-color: #2f303a;
  --background-therd-color: #f5f4fa;
  --grey-color: #757575;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  color: #2a2a2a;
}
